.title {
  background: #f2d279;
}
.title .inputBox {
  width: 300px;
  margin: 0 auto;
  line-height: 45px;
}
.title .inputBox .input {
  width: 250px;
  border-radius: 10px;
}
.title .inputBox .searchBar {
  font-size: 16px !important;
  text-align: center;
  width: 50px;
  display: inline-block;
}
